<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>

<nav th:replace="fragments :: navigation"></nav>

<div class="container-fluid">

    <h1 th:text="${title}"></h1>

    <form method="post" style="width:600px;" th:object="${loginForm}">
        <div class="form-group">
            <label th:for="username">Username</label>
            <input class="form-control" th:field="*{username}" />
            <div class="error" th:errors="*{username}"></div>
        </div>
        <div class="form-group">
            <label th:for="password">Password</label>
            <input class="form-control" th:field="*{password}" type="password" />
            <div class="error" th:errors="*{password}"></div>
        </div>

        <input type="submit" value="Log In" />
    </form>

    <p><a href="/register">Register</a></p>

</div>
</body>
</html>